<div *ngIf="data.win">
  <h1>Complimenti! 🏆</h1>
  <p>Hai indovinato in <strong>{{data.trials}}</strong> tentativi!</p>
</div>

<div *ngIf="!data.win">
  <h1>Mi dispiace 🥺</h1>
  <p>Non hai indovinato, la parola era <strong>{{data.word}}</strong></p>
</div>

<p>
  <a mat-button [href]="'https://www.google.it/search?q='+data.word" target="_blank">
    <em>
      (cosa vuol dire {{data.word}}?)
    </em>
  </a>
</p>
<br><br>

<div fxLayoutAlign="end">
  <button mat-raised-button (click)="bottomSheetRef.dismiss()">Gioca Ancora</button>
</div>