h1 {
  text-align: center;
  min-width: 250px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

:host {
  display: block;
  padding: 1em;
  padding-bottom: max(.5em, env(safe-area-inset-bottom));
}

p {
  text-align: center;
}