input {
  font-size: 20px;
  text-transform: uppercase;
  padding: .5em;
  padding-left: .8em;
  padding-top: 0;
}

h1 {
  padding-top: .5em;
}

mat-form-field {
  width: 67.5px;
}

.keyboard {
  max-width: 600px;
  margin: auto;
}

.keyboard button {
  margin: 4px 2px;
  text-transform: uppercase;
  min-width: 0;
  padding: 0 !important;
}

.word-row td {
  height: 8vh;
  width: 8vh;
  min-width: 8vh;
  font-size: 4vh;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 3px;
}

.matrix {
  margin: auto;
  border-spacing: 4px;
}

.matrix-wrapper {
  height: calc(100% - 192px);
  width: 100%;
  overflow: auto;
}

.keyboard-wrapper {
  width: 100%;
}