<div class="title" fxLayout="row" fxLayoutAlign="start center">
  &nbsp;
  &nbsp;
  <h1 fxFlex>slogo</h1>
  <button (click)="openSettings()" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  &nbsp;
  &nbsp;
</div>

<div class="matrix-wrapper">
  <table class="matrix">
    <tr class="word-row" *ngFor="let row of matrix; index as i; first as firstRow; last as lastRow;">
      <td *ngFor="let col of row; index as j; first as firstCol; last as lastCol;" [id]="'m'+i+'_'+j"
        [ngClass]="matrix[i][j].color!+'-bg'">
        {{matrix[i][j].value || ' '}}
      </td>
    </tr>
  </table>
</div>

<div class="keyboard-wrapper mat-drawer">
  <div class="keyboard">
    <div fxLayout="row">
      <button fxFlex [color]="colors[k]" fxFlex="1 0 20px" mat-raised-button *ngFor="let k of keyboard[0]"
        (click)="letter(k)">{{k}}</button>
    </div>
    <div fxLayout="row">
      <div fxFlex="1 0 20px"></div>
      <button fxFlex [color]="colors[k]" fxFlex="1 0 20px" mat-raised-button *ngFor="let k of keyboard[1]"
        (click)="letter(k)">{{k}}</button>
      <div fxFlex="1 0 20px"></div>
    </div>
    <div fxLayout="row">
      <div fxFlex="1 0 30px"></div>
      <button fxFlex [color]="colors[k]" fxFlex="1 0 20px" mat-raised-button *ngFor="let k of keyboard[2]"
        (click)="letter(k)">{{k}}</button>
      <button fxFlex fxFlex="1 0 30px" mat-raised-button (click)="backspace()">
        <mat-icon>backspace</mat-icon>
      </button>
    </div>
  </div>

</div>