/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}


html,
body,
app-root {
  height: 100%;
  font-family: "system";
  margin: 0;
  display: block;
  overflow: auto;
}

.keyboard button .mat-button-wrapper {
  padding: 0 !important;
}

.primary-bg {
  background: var(--primary-color) !important;
  color: var(--text-primary-color) !important;
}

.primary-txt {
  color: var(--primary-color) !important;
}

.accent-bg {
  background: var(--accent-color) !important;
  color: var(--text-accent-color) !important;
}

.accent-txt {
  color: var(--accent-color) !important;
}

.warn-bg {
  background: var(--warn-color) !important;
  color: var(--text-warn-color) !important;
}

.warn-txt {
  color: var(--warn-color) !important;
}