:host {
  display: block;
  padding: 1em;
  padding-bottom: max(1em, env(safe-area-inset-bottom));
}

mat-form-field {
  width: 100%;
  display: block;
}

.actions {
  padding-top: 1em;
}

p {
  max-width: 600px;
  margin: auto;
  margin-top: 1em;
}